<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530732452051-ir8udf3m5tpg7gskqp4jpqnhrcrltqrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530732452051-ir8udf3m5tpg7gskqp4jpqnhrcrltqrf</string>
	<key>API_KEY</key>
	<string>AIzaSyB4R7R76ZqVwE5_6bp9dme5AdEBJ0bXOAE</string>
	<key>GCM_SENDER_ID</key>
	<string>530732452051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gracej</string>
	<key>PROJECT_ID</key>
	<string>budget-903e1</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-903e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530732452051:ios:16727a0499696712</string>
	<key>DATABASE_URL</key>
	<string>https://budget-903e1.firebaseio.com</string>
</dict>
</plist>
